.calendar, .calendar > caption
{
	text-align: center;
	vertical-align: middle;
}
.calendar > tbody > tr > td
{
	transition: 0.5s linear;
	width:14.285%;
	border:1px solid #DEDEDE;
	padding:6px;
}
.calendar
{
	font-family: "Times New Roman";
	cursor: pointer;
	height:350px;
	font-size: 25px;
	border-collapse: collapse !important;
	border-spacing: 0;
	float: left;
}
.calendar > tbody > tr:first-child /* bold title */
{
	font-weight:bold;
}
.calendar > tbody > tr > td:last-child /* red sundays */
{
	color:red;
}
.calendar > tbody > tr:nth-child(odd) > td:nth-child(even)
{
	animation: darker 0.3s linear;
	background-color: #EFEFEF;
}
.calendar > tbody > tr:nth-child(even) > td:nth-child(odd)
{
	animation: darker 0.5s linear;
	background-color: #EFEFEF;
}
.calendar_holder
{
    display: inline-block;
    margin-right: 10px;
	margin-left: 10px;
	display:none;
	height:100%;
}
#today
{
	background-color:#D6D6FF;
	border: 2px dashed black;
}
.sended
{
	background: #ffffff;
	background: -moz-linear-gradient(-45deg, #ffffff 75%, #ffb200 76%, #ffe344 100%);
	background: -webkit-linear-gradient(-45deg, #ffffff 75%,#ffb200 76%,#ffe344 100%);
	background: linear-gradient(135deg, #ffffff 75%,#ffb200 76%,#ffe344 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ffe344",GradientType=1 );
}
.accepted
{
	background: #ffffff;
	background: -moz-linear-gradient(-45deg, #ffffff 75%, #21ff00 76%, #44ff86 100%);
	background: -webkit-linear-gradient(-45deg, #ffffff 75%,#21ff00 76%,#44ff86 100%);
	background: linear-gradient(135deg, #ffffff 75%,#21ff00 76%,#44ff86 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#44ff86",GradientType=1 );
}
.rejected
{
	background: #ffffff;
	background: -moz-linear-gradient(-45deg, #ffffff 75%, #ff0000 76%, #ff4444 100%);
	background: -webkit-linear-gradient(-45deg, #ffffff 75%,#ff0000 76%,#ff4444 100%);
	background: linear-gradient(135deg, #ffffff 75%,#ff0000 76%,#ff4444 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#ff4444",GradientType=1 );
}
@keyframes darker
{
	0%
	{
		background-color: white;
	}
}