
body
{
    background-color:#232323;
    color:white;
}
input
{
    background-color: #646464;
    color:white;
}
input::placeholder
{
    color:white;
}
select
{
    background-color: #646464;
    color:white;
}
